.example2{display: inline; background-color: aqua;}
.example3{display:inline; background-color: chartreuse;}
.example4{background-color: pink;}
.example5{
    display: block; background-color: aquamarine;
}
